<div class="container">
  <div></div>
  <h1>À propos d'Alexis Barreirinho</h1>
  <h2>Mon expérience</h2>
  <p>Chef de projet digital depuis 3 ans au sein de diverses agences web, j’ai pu avoir un premier aperçu du développement web. Ces agences développant uniquement autour du CMS WordPress, je me suis fait une première expérience grâce à ce CMS.<br>
    Avide d’approfondir mes connaissances en développement, j’ai décidé de faire la formation du Wagon à l’été 2022.</p>
  <h2>Mon parcours</h2>
  <p>Avant la formation du Wagon j’ai pu obtenir un Master en Marketing Digital au sein de l’IDRAC en alternance dans la société Mabéo Industrie. En charge du référencement local des agences, j’ai pu aider les agences à avoir de la visibilité en plus de du site e-commerce sur Google. <br>
Le Wagon m’a permi d’apprendre à utiliser Ruby on Rails en 9 semaines et pouvoir travailler sur mon premier projet <%= link_to 'Vel-Watt' %>.
</p>
  <h2>Mes compétences</h2>
  <div class="dflex dflex-between">
    <div class="dflex dflex-column dflex-center">
      <%= image_tag 'rails.png' %>
      <p>Ruby on rails</p>
    </div>
    <div class="dflex dflex-column dflex-center">
      <%= image_tag 'stimulus.png' %>
      <p>JavaScript / Stimulus</p>
    </div>
    <div class="dflex dflex-column dflex-center">
      <%= image_tag 'css.png' %>
      <p>HTML/CSS</p>
    </div>
    <div class="dflex dflex-column dflex-center">
      <%= image_tag 'three-js.png' %>
      <p>ThreeJS</p>
    </div>
  </div>
</div>
