<div class="banner">
  <div class="container">
    <div class="title">
      <div>
        <h1>Hello, <br>Moi c'est Alexis</h1>
        <span>Developpeur web fullstack</span>
      </div>
      <a href="#contact-form" class="button">Télécharger mon CV</a>
    </div>
    <div class="image">
      <%= image_tag 'alexis_barreirinho.jpg' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="dflex dflex-column dflex-end mb64">
    <div class="presentation">
      <div>
        <h2>Alexis Barreirinho</h2>
        <p>Developpeur web fullstack</p>
      </div>
      <div class="presentation--right">
        <h3>Pour en savoir un peu plus sur moi (d'où je viens)</h3>
        <p>De formation web marketing, je me suis formé au Wagon Lyon pour devenir développeur web. Aujourd'hui à la recherche d'une première opportunité.</p>
        <div class="presentation--right--info">
          <div>
            <p class="highlight">Basé à</p>
            <p>Lyon</p>
          </div>
          <div>
            <p class="highlight">Expérience</p>
            <p>Junior</p>
          </div>
          <div>
            <p class="highlight">Date de naissance</p>
            <p>03 juillet 1992</p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'En savoir plus sur moi', about_path, class: 'link' %>
  </div>
  <div class="title-bg">
    <i class="fa-solid fa-book-open"></i>
    <h2>Portfolio</h2>
  </div>
  <div class="title-link">
    <H3>Découvrez mes projets</H3>
    <%= link_to 'Voir tous les projets', projects_path, class: 'link' %>
  </div>
  <div class="project-list">
    <% @projects.each do |project| %>
      <%= link_to project_path(project), class: 'project-card' do%>
        <div class="dflex dflex-center">
          <div>
            <div>
              <h3>
                <%= project.name %>
              </h3>
              <p>
                <%= project.short_desc %>
              </p>
            </div>
          </div>
          <div>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
